@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* navbar */
header {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all .50s ease;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

.logo i {
  font-size: 28px;
  margin-right: 3px;
  
}

.logo span {
  font-size: 1.3rem;
  font-weight: 600;
  
}

.n {

  display: flex;
  list-style: none;
  
}

.n a {
  /* flex-direction: row; */
  position: relative;
  top: 40%;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0px 0;
  margin: 0px 30px;
  transition: all .50s ease;
  text-decoration: none;
  color: aqua;
}

.n a:hover {
  color: orangered;
}

.n a.active {
  color: #F0ECE9;
}

.input-box-a {
  position: relative;
  height: 50px;
  max-width: 130px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.input-box-a i,
.input-box-a .button {
  position: absolute;
  top: 50%;
  /* left: 20%; */
  /* max-width: 200px; */
  transform: translateY(-50%);
}

.input-box-a i {
  left: 10px;
  font-size: 20px;
  color: #707070;
  padding-right: 0px;
}

.input-box-a input {
  height: 100%;
  width: 160px;
  outline: none;
  font-size: 10px;
  font-weight: 100;
  border: none;
  padding: 0px 40px 0px 40px;
  background-color: transparent;
  /* text-align: center; */
}

.main-a {
  display: flex;
  align-items: center;

}

.main-a a {
  margin-right: 25px;
  margin-left: 10px;
  color: aqua;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.user-a {
  display: flex;
  align-items: center;
  width: 70px;
}

.search .user-a i {
  /* color: burlywood; */
  font-size: 45px;
  margin-left: -35px;
}

.reg {
  display: flex;
  align-items: center;
  margin-left: -100px;
}

.main-a a:hover {
  color: orangered;
}

#menu-icon {
  font-size: 30px;
  color: aqua;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* responsive using media query */
@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: .2s;
  }

  .n a {
    padding: 5px 0;
    margin: 0px 20px;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }

  .second {
    justify-content: center;
    background-position: left !important;
  }

  .content {
    text-align: center;

  }

  span {
    font-size: 3rem;

  }

  h4 {
    font-size: 4rem;
  }



}

@media (max-width: 1090px) {

  #menu-icon {
    display: block;
  }

  .input-box-a {
    position: absolute;
    top: 100%;
    right: -100%;
    /* height: 37vh; */
    /* width: 570px; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-radius: 10px; */
    transition: all .50s ease;
    /* margin: 12px ; */
    margin-right: 15px;
    margin-top: 17px;
    max-width: 240px;
  }

  .input-box-a input {
    padding: 0px 0px 0px 40px;
    width: 230px;
    font-size: 15px;
  }

  .n {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 46vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }

  .n a {
    position: relative;
    top: 130%;
    left: -7%;
    color: aqua;
    display: block;
    margin: 13px 0;
    padding: 0px 25px;
    transition: all .50s ease;
    text-align: center;
  }

  .n a:hover {
    color: orangered;
    transform: translateY(5px);
  }

  .n.open {
    right: 2%;
  }

  .input-box-a.open {
    right: 2%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}



 /* Package categories css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.main{
  
margin-top: 55px;
  min-height: 100vh;
display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.slide-container {
   
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} */

.card-image {
  position: relative;
  height: 300px;
  width: 300px;
  /* border-radius: 50%; */
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  /* border: 4px solid #4070F4; */
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}





.packhead{
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
    color: violet;
    background: linear-gradient(to right, aqua, #4E4376);
  }
  
  .packhead h1{
    margin-bottom: 10px;
  }
  
  .inclusions .pack-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: linear-gradient(to right, aqua, #4E4376);
  }
  
  .inclusions .pack-container .pack{
    flex : 1 1 30rem;
    border-radius: 5rem;
    padding: 1rem;
    text-align: center;
  }
  
  .inclusions .pack-container .pack i{
    padding: 1rem;
    font-size: 5rem;
    color:rgb(0, 0, 0);
  }
  
  .inclusions .pack-container .pack h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .inclusions .pack-container .pack p{
    font-size: 1.2rem;
    color:black;
    padding: 1rem 0;
  }
  
  .inclusions .pack-container .pack:hover{
    background-color: lightblue;
    box-shadow: 0 1rem 2rem black;
    cursor: pointer;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); */
    
  }
  
  /* packages css ends */  



  /* Footer */

.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

footer .nb-footer {
  background: rgb(0, 0, 0);
  border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about p {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

footer.nb-footer .about .social-media {
  margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-media ul li a {
  text-decoration: none;
}

.social-media ul li {

  float: right;
  /* text-align: center; */
  /* vertical-align: middle; */
  margin-right: 20px;
  position: relative;
  right: 35%;
}

footer.nb-footer .about .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #aaa;
  padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
  color: #b78c33;
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}